<center><h2>The Sparks Foundation</h2></center>
<center><h2>Data Science And Business Analytics - Task3</h2></center>

.  
### Hello, I am **Oday Mourad**. 
Here is my solution for **Task3** in Sparks Foundation-Data Science And Business Analytics

In [11]:
# First of all we must import the libraries:

import numpy as np
import pandas as pd

In [12]:
# Let's descove the data:

path = "SampleSuperstore.csv"
data = pd.read_csv(path)
print("Data imported successfully")

Data imported successfully

In [13]:
data.head(10)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
5,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,0.00,14.1694
6,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,0.00,1.9656
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,0.20,90.7152
8,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,0.20,5.7825
9,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,114.9000,5,0.00,34.4700

### We need to know:

1 ) Which features are available in the dataset?  
2 ) Which features are categorical?  
3 ) Which features are numerical?  
4 ) What are the data types for various features?

**1 ) Which features are available in the dataset:**

In [14]:
print("Our dataset consist of {} samples".format(data.shape[0]))
print('-'*50)
print("There are {} features: {}".format(data.shape[1],data.columns.values))
print('-'*50)

Our dataset consist of 9994 samples
--------------------------------------------------
There are 13 features: ['Ship Mode' 'Segment' 'Country' 'City' 'State' 'Postal Code' 'Region'
 'Category' 'Sub-Category' 'Sales' 'Quantity' 'Discount' 'Profit']
--------------------------------------------------

In [15]:
# We can dispense with the postal code feature
data = data.drop("Postal Code", axis=1)

In [16]:
print("features possible values are :\n\n")
print('Ship Mode :\n')
print(data['Ship Mode'].value_counts())
print('-'*100)
print('Segment :\n')
print(data['Segment'].value_counts())
print('-'*100)
print('Country :\n')
print(data['Country'].value_counts())
print('-'*100)
print('City :\n')
print(data['City'].value_counts())
print('-'*100)
print('State :\n')
print(data['State'].value_counts())
print('-'*100)
print('Region :\n')
print(data['Region'].value_counts())
print('-'*100)
print('Category :\n')
print(data['Category'].value_counts())
print('-'*100)
print('Sub-Category :\n')
print(data['Sub-Category'].value_counts())
print('-'*100)
print('Sales :\n')
print(data['Sales'].value_counts())
print('-'*100)
print('Quantity :\n')
print(data['Quantity'].value_counts())
print('-'*100)
print('Discount :\n')
print(data['Discount'].value_counts())
print('-'*100)
print('Profit :\n')
print(data['Profit'].value_counts())
print('-'*100)

features possible values are :


Ship Mode :

Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64
----------------------------------------------------------------------------------------------------
Segment :

Consumer       5191
Corporate      3020
Home Office    1783
Name: Segment, dtype: int64
----------------------------------------------------------------------------------------------------
Country :

United States    9994
Name: Country, dtype: int64
----------------------------------------------------------------------------------------------------
City :

New York City      915
Los Angeles        747
Philadelphia       537
San Francisco      510
Seattle            428
                  ...
Glenview             1
Missouri City        1
Rochester Hills      1
Palatine             1
Manhattan            1
Name: City, Length: 531, dtype: int64
----------------------------------------------------------------------------------------------------
State :

California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64
----------------------------------------------------------------------------------------------------
Region :

West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64
----------------------------------------------------------------------------------------------------
Category :

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64
----------------------------------------------------------------------------------------------------
Sub-Category :

Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64
----------------------------------------------------------------------------------------------------
Sales :

12.960     56
19.440     39
15.552     39
25.920     36
10.368     36
           ..
4.240       1
319.960     1
646.740     1
81.940      1
243.160     1
Name: Sales, Length: 5825, dtype: int64
----------------------------------------------------------------------------------------------------
Quantity :

3     2409
2     2402
5     1230
4     1191
1      899
7      606
6      572
9      258
8      257
10      57
11      34
14      29
13      27
12      23
Name: Quantity, dtype: int64
----------------------------------------------------------------------------------------------------
Discount :

0.00    4798
0.20    3657
0.70     418
0.80     300
0.30     227
0.40     206
0.60     138
0.10      94
0.50      66
0.15      52
0.32      27
0.45      11
Name: Discount, dtype: int64
----------------------------------------------------------------------------------------------------
Profit :

0.0000     65
6.2208     43
9.3312     38
5.4432     32
3.6288     32
           ..
83.2508     1
16.1096     1
7.1988      1
1.6510      1
72.9480     1
Name: Profit, Length: 7287, dtype: int64
----------------------------------------------------------------------------------------------------

**2 ) Which features are categorical :**
 - Ship Mode (Nominal)
 - Segment (Nominal)
 - Country (Nominal)
 - City (Nominal)
 - State (Nominal)
 - Region (Nominal)
 - Category (Nominal)
 - Sub-Category (Nominal)

**3 ) Which features are numerical:**
 - Sales (continuous)
 - Quantity (Discrete)
 - Discount (Continuous)
 - Profit (Continuous)

**4 ) What are the data types for various features?**

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Region        9994 non-null   object
 6   Category      9994 non-null   object
 7   Sub-Category  9994 non-null   object
 8   Sales         9994 non-null   float64
 9   Quantity      9994 non-null   int64
 10  Discount      9994 non-null   float64
 11  Profit        9994 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 937.1+ KB